<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
	    <!-- <smtp deliveryMethod="Network">-->
	    <network defaultCredentials="false" host="smtp.axuno.net" userName="user@axuno.net" password="secret" port="587" clientDomain="mail.axuno.net" />
	    <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\Mail\"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
