<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="MailKit" version="1.8.1" targetFramework="net452" />
  <package id="MimeKit" version="1.8.0" targetFramework="net452" />
  <package id="netDumbster" version="1.4.0.0-beta1" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.4.1" targetFramework="net452" />
</packages>